<header>
      <div id="header">
        <div class="headInner">
          <h1 class="logo">
            <a href="index.html"><img src="./assets/img/logo.png" alt="APT Job Logo" /></a>
          </h1>
          <div class="search" id="searchWrap">
            <span class="search-icon"
              ><img src="./assets/img/search_icon.png" width="20"
            /></span>
            <input
              type="text"
              placeholder="관리소명, 직무, 채용제목으로 공고를 검색해주세요."
            />
          </div>
          <div class="etesys">
            <a
              href="https://www.etesys.co.kr/"
              target="_blank"
              title="새창 열림"
              class="bann-logo bann-etesys"
              >이테시스</a>
          </div>
        </div>
        <div id="headNavBar">
          <div class="aptNavArea">
            <ul class="serviceNav">
              <a href="recruit_search.html"><li class="navItem">지역/직무 검색</li></a>
              <a href="companySearch.html"><li class="navItem">위탁사 검색</li></a>
              <a href="#"><li class="navItem">단지정보</li></a>
              <a href="#"><li class="navItem">고객센터</li></a>
            </ul>
          </div>
          <!-- my 홈일경우 클래스 myPage -->
          <div id="devMyPage" class="userNav">
            <ul class="userNav">
              <a href="#"><li class="userNav-item login">로그인</li></a>
              <a href="#"><li class="userNav-item join">회원가입</li></a>
              <a href="#"><li class="userNav-item corp">마이페이지</li></a>
              <a href="#"><li class="userNav-item corp">관리소서비스</li></a>
            </ul>
          </div>
        </div>
      </div>
    </header>