header {
    position: relative;
    z-index: 4;
    zoom: 1;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}
#header {
    width: 100%;
    padding-top: 10px;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
#header .headInner {
    max-width: 1280px;
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}
/* logo */
#header .headInner .logo img {
    width: 150px;
}
#header .headInner #searchWrap {
    position: relative;
    display: inline-block;
}
#header .headInner #searchWrap .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-60%);
    pointer-events: none;
}
#header .headInner #searchWrap input {
    width: 850px;
    padding: 7px 12px 7px 35px; 
    border: 3px solid #0055DB;
    border-radius: 5px;
}
#header .headInner #searchWrap input:focus {
    outline: none;
    border: 3px solid #0055DB; 
}
#header .headInner #searchWrap input::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #a1a1a1;
}
#header .headInner .etesys {
    font-size: 16px;
    font-weight: 700;
    display: flex;
}
#header .headInner .etesys a.bann-etesys::before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 6px;
    background-image: url("../img/etesys_icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
#header #headNavBar {
    max-width: 1280px;
    width: 100%;
    margin: 10px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    padding: 10px 0 15px;

}
#header #headNavBar .aptNavArea .serviceNav {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}
#header #headNavBar .aptNavArea .serviceNav .navItem {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    position: relative;
    padding: 0px 0;
}
#header #headNavBar .aptNavArea .serviceNav .navItem:hover {
    color: #0055DB;
}
#header #headNavBar .userNav {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    font-size: 15px;
    color: #757575;
}
.userNav .corp, .userNav .mypage {
    border:1px solid #D3D3D3;
    text-align: center;
    padding: 3px 15px;
    border-radius: 90px;
}
/* 드롭다운 */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 140px;
  display: none;
  flex-direction: column;
  z-index: 10;
  margin-top: 5px;
}
.dropdown-menu li {
    list-style: none;
    font-size: 16px;
}
.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu li a:hover {
  background-color: #f4f4f4;
  color: #0073e6;
}
/* hover 시 표시 */
.dropdown:hover .dropdown-menu {
  display: flex;
}