/* -----------------------
   ✅ 인쇄 전용 스타일
----------------------- */
@media print {
  @page {
    size: A4 portrait;
    margin: 10mm;
  }

  body {
    background: #fff !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  header, footer,
  .job-action-apply,
  .job-action-favorite,
  .job-action-print,
  .btn:not(.nav-link) {
    display: none !important;
  }

  #subPage.job-detail.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }

  /* ✅ endDate 인쇄 강제 표시 */
  h3 .endDate {
    display: inline-block !important;
    float: none !important; /* float 제거 */
    position: relative !important;
    color: #e60000 !important;
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    margin-left: 8px !important;
    vertical-align: middle !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    margin-left: 20px !important;
  }

  /* ✅ 혹시 브라우저가 잘라도 대비 */
  h3 {
    overflow: visible !important;
    white-space: nowrap !important;
  }

  .job-summary {
    overflow: visible !important;
  }

  .nav-tabs {
    display: flex !important;
    margin-bottom: 15px !important;
  }

  .nav-tabs .nav-link {
    display: inline-block !important;
    color: #515151 !important;
    padding: 8px 16px !important;
    margin-right: 4px !important;
    font-weight: bold !important;
    -webkit-print-color-adjust: exact !important;
  }

  .nav-tabs .nav-link.active {
    color: #0071f3 !important;
  }

  #jobTabContent {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .table {
    font-size: 15px;
    border: 0.5px solid #7a7a7a;
    width: 1020px !important;
    border-collapse: collapse !important;
  }

  th {
    background: #f2f2f2 !important;
    -webkit-print-color-adjust: exact;
    width: 15% !important;
    padding: 10px !important;
  }

  h2, h3 {
    color: #000 !important;
    margin-bottom: 10px;
  }

  .job-summary, .job-detail__table, .job-complex__table {
    page-break-inside: avoid;
  }

  .job-summary-group {
    border: 0 none !important;
  }

  .job-summaryBox-requirement,
  .job-summaryBox-complex,
  .job-summaryBox-condition {
    border-top: 1px solid #a8a8a8 !important;
    border-bottom: 1px solid #a8a8a8 !important;
  }

  .job-summaryBox-complex {
    border-left: 1px solid #a8a8a8 !important;
  }
}
